{{#section 'site-specific_css'}}
    <link rel="stylesheet" href="/admin/css/reflections_panel.css">
{{/section}}

<div id="reflections-wrapper">
    <div class="container" id="ruminations-container">
        <div id="ruminations-header">
            <h1 class="h2">Reflections</h1>
            <nav class="d-flex">
                <ul class="pagination ml-auto">
                    {{#unless isFirstPaging}}
                    <li class="page-item"><a href="/admin-panel/reflections/{{prevHref}}" class="page-link">Prev</a></li>
                    {{/unless}}
                    {{{paging}}}
                    {{#unless isLastPaging}}
                    <li class="page-item"><a href="/admin-panel/reflections/{{nextHref}}" class="page-link">Next</a></li>
                    {{/unless}}
                </ul>
            </nav>
        </div>
        <hr/>
        <div id="ruminations-grid">
            <div class="row"> 
                {{#each ruminations}}
                <div class="col-4">
                    <div class="rumination-card">
                        <div class="rumination-image">
                            {{#if this.cover_id}}
                            <img src="/covers/{{cover_id}}">
                            {{else}}    <img src="/public/images/sample-inspire.jpg">
                            {{/if}}
                        </div>
                        <div class="rumination-content">
                            <div class="rumination-title">
                                <h5><a href="/admin-panel/write/{{this.id}}">{{this.title}}</a></h5>
                            </div>
                            <div class="rumination-extras">
                                <div class="rumination-description">
                                    {{this.description}}
                                </div>
                                <div class="d-flex justify-content-between rumination-meta">
                                    <small><i class="fas fa-calendar-alt"></i>{{this.localeDate}}</small>
                                    <small><i class="fas fa-tags"></i>
                                        {{this.tags_stringified}}
                                    </small>
                                    <small><i class="fas fa-comment"></i>{{this.commentsSize}}</small>
                                </div>
                            </div>              
                        </div>
                        <div class="rumination-actions">
                            <a class="btn btn-secondary" href="/admin-panel/write/{{this.id}}"><i class="fas fa-pen"></i></a>
                            <a data-id="{{this.id}}" class="btn btn-secondary" data-toggle="modal" data-target="#deleteConfirm"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div id="deleteConfirm" class="modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    You're about to delete record <small class="debug"></small>. Please confirm.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="delete" type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'jquery'}}
    <script>
        $(window).on("load", function(){
            var currentUrl = window.location.pathname;
            $('.page-item [href="'+currentUrl+'"]').closest('.page-item').addClass('active');
        })

        $('#deleteConfirm').on('show.bs.modal', function(event){
            let _id = $(event.relatedTarget).data("id");
            $(this).find('.debug').text(_id);
            $(this).find('#delete').data("_id", _id)
        })
        $('#deleteConfirm').on('click', '#delete',() => {
            const target_id = $(event.target).data("_id");
            fetch('/admin-panel/rumination/delete', {
                method: "POST", 
                body: JSON.stringify({id: target_id}),
                redirect: 'follow',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(res => {
                if(res.redirected)  window.location = res.url;
            })
        })
        $('#deleteConfirm').on('hide.bs.modal', (event) => {
            $(this).find('.debug').text("");
            $(this).find('#delete').removeData()
        })
    </script>
{{/section}}